<!-- banner -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<!-- container -->
<!-- grille boostrap -->
<!-- chaque plante sera une card -->
<div class="container">
  <div class="row">
    <% @plants.each do |plant| %>
    <div class="col-xs-4">

      <div class="card-trip">
        <%#= image_tag "nom_du_fichier.png" %>
        <img src="<%= plant.image_url %>">
        <div class="card-trip-infos">
          <div>
            <h2><%= plant.name %></h2>
          </div>
          <h2 class="card-trip-pricing">
            <%= link_to plant_path(plant), method: :delete, data: { confirm: "Are you sure ? "} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </h2>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>


<!-- formulaire -->
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 form_background">
      <p>Ajouter une plante</p>
      <%= simple_form_for [@garden, @plant] do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url %>
        <%= f.button :submit , class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>


